html {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgb(75,75,75);
}

h1 {
	color: rgb(75,75,75);
	font-size: 500%;
	-webkit-text-stroke: 3px rgb(50,50,50);
	transition: all .1s ease;
	font-family: Impact;
	margin: initial;
	padding-left: 2.5%;
}

h1:hover #name_blue {
	color: #0091ff;
}

h1:hover #name_gray {
	color: #6d6e71;
}

h2 {
	color: rgb(25,25,25);
	font-size: 300%;
	transition: all .1s ease;
	font-family: Helvetica;
}

h3 {
	color: rgb(25,25,25);
	font-size: 200%;
	transition: all .1s ease;
	font-family: Helvetica;
}

button {
	font-size: 200%;
	font-family: Impact;
	color: rgb(25,25,25);
	background-color: rgb(75,75,75);
	padding: 20px;
	border: solid 3px rgb(25,25,25);
	width: 300px;
}

#content {
	margin: 20px;
	padding: 20px;
	background-color: rgb(75,75,75);
	transition: .1s;
	border: solid 3px rgb(25,25,25);
}

#content:hover {
	transition: all .1s ease;
	background-color: rgb(50,50,50);
}

footer {
	text-align: center;
	color: rgb(25,25,25);
	font-size: 100%;
	transition: all .1s ease;
	font-family: Arial;
}
	/* For Smartphones */
@media only screen and (max-width: 550px) {
	h1 {
		font-size: 300%;
		text-align: center;
	}
	h2 {
		font-size: 175%;
		text-align: center;
	}
	h3 {
		font-size: 125%;
	}
	footer {
		font-size: 50%;
	}
	button {
		width: 90%;
		display: block;
		margin: 0 auto;
		font-size: 20px;
	}
	h1:hover #name_blue {
		-webkit-text-stroke: 3px rgb(255,0,0);
	}

	h1:hover #name_gray {
		-webkit-text-stroke: 3px rgb(255,0,0);
	}
}
